@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

h1, p{
    font-family: 'Outfit', sans-serif;
}

main{

    border-radius: 10px;
    background-color:hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    max-height: 530px;
    
    height: 80vh;
    width: 80vw;
    margin-top: 10%;
}

.container_img{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.img-equilibrium{
    width: 85%;
    border-radius: 10px;
}
h1{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    padding-top: 0.6rem;
    font-weight: 600;
    padding-left: 7%;
}
.first-p{
    margin-top: 0.5rem;
    padding-left: 7%;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    color: hsl(215, 51%, 70%);
}
span{
    display: flex;
    width: 100%;
}
.moeda{
    display: flex;
    align-items: center;
    width:  50%;
    font-size: 1rem;
    padding-left: 7%;
}
.moeda img{
    width: 0.7rem;
    height: 1.2rem;
    padding-right: 0.6rem;
}
.moeda p{
    color: hsl(178, 100%, 50%);
}
.time{
    display: flex;
    align-items: center;
    width:  50%;
    font-size: 1rem;
    padding-left: 1.5rem;
}
.time_img{
    padding-right: 0.6rem;
}
.time p{
    color: hsl(215, 51%, 70%);
}
hr{
    width: 87%;
    color: hsl(215, 32%, 27%);
}
.att_creator{
    display: flex;
    align-items: center;
    padding-top: 0.6rem;
    padding-left: 7%;
}
.att_creator img{
    border-radius: 50%;
    border: solid 2px rgb(255, 255, 255);
}
.avatar{
    height: 1.8rem;
}
.att_creator p {
    color: hsl(215, 51%, 70%);
    padding-left: 1rem;
}
.att_creator a{
    padding-left: 0.2rem;
    color:hsl(0, 0%, 100%);
    text-decoration: none;
    
}

main .container_img .img-equilibrium:hover{
    cursor: pointer;
    background: hsl(178, 100%, 50%);
    background-color:rgba(0,255,247,0.356);
}
main h1:hover, .att_creator p a:hover{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
    
}

@media (max-width: 400px) {
    main{
        margin-top: 12%;
    }
    
}