@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');



body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: hsl(217, 54%, 11%);
}

h1, p{
    font-family: 'Outfit', sans-serif;
}

main{    
    margin: 4rem 2rem 2rem;
    border-radius: 10px;
    background-color:hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_img{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.img-equilibrium{
    width: 85%;
    padding-top: 1.7rem;
    border-radius: 10px;
}
h1{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    padding-top: 0.6rem;
    font-weight: 600;
    padding-left: 1.4rem;
}
.first-p{
    margin-top: 0.5rem;
    padding-left: 1.4rem;
}
span{
    display: flex;
    width: 100%;
}
.moeda{
    display: flex;
    align-items: center;
    width:  50%;
    font-size: 1rem;
    padding-left: 1.5rem;
}
.moeda img{
    width: 0.7rem;
    height: 1.2rem;
    padding-right: 0.6rem;
}
.time{
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 1rem;
}
#time_img{
    padding-right: 0.6rem;
}
hr{
    width: 90%;
}
.att_creator{
    display: flex;
}
.att_creator img{
    width: 2.6rem;
    height: 2.3rem;
    padding-left: 1.3rem;
}

